<div>
  <div class="  columns"> <img src="http://placehold.it/1200x200&text=Banner"></div>
  <div class="large-offset-2 large-10 columns"><H5>You are downloading"<%=@name%>" form <%=@location%> mirror</H5>
  <h6>Please enter your E-Mail, we will send the download link to your mailbox. Thank you!</h6>
  </div>
  <p>
   <br>
    <br>
  </p>
  <%= form_tag do %>
    <div class="row">
      <div class="large-8 columns large-offset-2">
        <label>Enter your email here :
          <input type="text" placeholder="Email Address" name="email"/>
        </label>
      </div>
    </div>
    <div class=" large-2 columns large-offset-5">  <input type="submit" value="Send" class="button postfix"></div>

  <% end %>
  <script type="text/javascript">
    ( function() {
        if (window.CHITIKA === undefined) { window.CHITIKA = { 'units' : [] }; };
        var unit = {"calltype":"async[2]","publisher":"kinsey0826","width":728,"height":90,"sid":"Chitika Default"};
        var placement_id = window.CHITIKA.units.length;
        window.CHITIKA.units.push(unit);
        document.write('<div id="chitikaAdBlock-' + placement_id + '"></div>');
    }());
</script>
  <script type="text/javascript" src="http://adhitzads.com/748404"></script>
<!--  <div class="  columns"> <img src="http://placehold.it/1200x200&text=Banner"></div>        -->
</div>


<javascript>
  <script type="text/javascript"><!--
  ps_username = "ac1";
  ps_website_id = 40632;
  ps_ad_cap = 0;
  ps_ad_open = 2;
  ps_ad_type = 1
  ps_page_url = document.location;
  -->
  </script>
  <script type="text/javascript" src="http://www.edomz.net/popup.js"></script>
</javascript>