<div class="row">
  <br>
  <br>
  <div class="large-offset-2 large-8  small-12 medium-10  columns"> <h3> Software name : [Crack] <%= @name %></h3></div>
    <!--http://adf.ly/tP2sX NON -->
    <!--http://adf.ly/tP2af Locker TO EMAIL-->
  <br>
  <br>
  <div class="large-offset-2 large-8  small-12 medium-10  columns">Please wait, the download link is generating....</div>
  <br>
  <br>
<!--  <div class="  columns"> <img src="http://placehold.it/1200x200&text=Banner"></div>
  <p>
  <p>
  <div class="  columns"> <img src="http://placehold.it/1200x200&text=Banner"></div>        -->

</div>


<script language="javascript">
    setTimeout("top.location.href = 'http://adf.ly/tP2sX'",7000);
</script>
